{{! This will be your default layout for all handlebars file rendered. This will be inherited by all other templates. }}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
</head>
<body>
    <main>
        {{{body}}}
    </main>
</body>
</html>