<div class="text-center">
    
    <h2>Hooray {{name}}! You have reached __ points!</h2>
    <p>Current Score: </p>
    <a class="btn btn-primary" href="/trivia" type="button">Tap to Play Again?</a>


    <a class="btn btn-primary" href="/logout" type="button">Log Out</a>

</div>
