{{!-- 

This view will be shown when the 'GET /logout' endpoint is called and will:
-Provide a URL hyperlink to the / route

 --}}
 <div>
     <h2>{{title}}</h2>
    <p>User has been logged out!</p>
    <a href="/">Click here to Login</a>
</div>
