{{!-- 

This view will be shown when the 'GET /logout' endpoint is called and will:
-Provide a URL hyperlink to the / route

 --}}
 <div class="text-center">
     <h2>{{title}}</h2>
    <p>User has been logged out!</p>
    <a class="btn btn-primary" href="/" type="button">Login Again</a>
</div>
