

  
    <h1 id="title">Final Score</h1>
        
        {{!-- <button type="button" id="score-btn" onclick="backToQuiz()">Yes</button>
        <button type="button" id="check-answer" onclick="checkAnswer()">No</button>
    </div> --}}

    <form method="post" name="finalPage" id="scoreboard" action="/finalScore">
        <h2 id="score-title">Do you want to continue playing?</h2>
        <h2 id="score"></h2>

        <input type="submit" name="finalScore" value="play_again">
        <input type="submit" name="finalScore" value="main_page">

    </form>

    <!-- answers section -->
    

    <!-- javascript file source -->
    <script src="/quiz.js"></script>
</body>
</html>