{{! when the user is on Welcome screen and button 'Tap to Play' is pressed, 
routes to '/triviaQuestionsAnswers' and display this handlebar with quetsions and answers
}}

<div>
  <p>Questions and Answers:</p>
</div>