{{!
-If the user is not authenticaed and hits the endpoint 'GET /',  render this view with a login form.
}}
<form id="login-form" method="POST" action="/login">
  <h2>Welcome to Stevens Trivia Game!</h2>
  <h4>{{title}}</h4>

  <label for="usernameInput">Username</label>
  <input
    placeholder="Sophie"
    id="usernameInput"
    name="usernameInput"
  />

  <label for="passwordInput">Password</label>
  <input
    type="password"
    placeholder="password"
    id="passwordInput"
    name="passwordInput"
  />

  <button type="submit">Login</button>

  {{#if error}}
    <p>{{error}}</p>
  {{/if}}

  <a href="/register">Click here to register!</a>

</form>