{{!

If the user is NOT logged in, and 'GET /register' endpoint is called, you will render this sign-up form view that displays two input (one for the username and one for password):
-The form will be used to submit the POST request to the '/register' route on the server and must have an 'id' of 'registration-form'
-The input for the username must have a 'name' and 'id' of 'usernameInput'
-The input for the password must have a 'name' and 'id' of 'passwordInput' and should be an input type of password.

Do not forget to use labels for your inputs! For the labels, you will use the method of using the 'for' attribute. 
You should have a label for both the username and password inputs referencing their id's in the for attribute of the label

You will also have a link on this page that links to '/' and has the text "Already have an account? Click here to log-in"

}}
<div class="register">
 <div class="row d-flex justify-content-center align-items-center h-100">
<div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
        <form id="registration-form" method="POST" action="/register">
          <div class="divider d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
            <p class="lead fw-bold mx-3 mb-0">Sign Up</p>
            </div>
            <br/>
            
          <!-- Email input -->
          <div class="mb-4">
            <input type="email" id="emailInput" name="emailInput" class="form-control form-control-lg"
              placeholder="name@example.com" />
            <label class="form-label" for="form3Example3">Email address</label>
          </div>

          <!-- Username input -->
          <div class="mb-4">
            <input type="username" name="usernameInput" id="usernameInput" class="form-control form-control-lg"
              placeholder="Enter username" />
            <label class="form-label" for="form3Example3">Username</label>
          </div>

          <!-- Password input -->
          <div class="mb-3">
            <input type="password" name="passwordInput" id="passwordInput"  class="form-control form-control-lg"
              placeholder="Enter password" />
            <label class="form-label" for="form3Example4">Password</label>
          </div>

          <div class="text-center text-lg-start mt-4 pt-2">
            <button type="submit" class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
            
          </div>
          <p class=" fw-bold mt-2 pt-1 ">Already have an account? <a href="/"
                class="link-danger">Login</a></p>
          {{#if error}}
            <p class="error">{{error}}</p>
          {{/if}}
        </form>
      {{!-- </div> --}}
    </div>
  </div> 
  <div class="container-md">  
        <!-- Copyright -->
        <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <span >
            Copyright © 2022. All rights reserved.
        </span>
        </footer>     
  </div>
  </div>
