{{! when the user login/registers successfully, routes to '/welcome' and display this handlebar 
with the 'Current Score' information and a button 'Tap to Play' 

?? and a link 'How to Play' - TBD ?
}}
<div>
  <h2>{{title}}, {{name}}!</h2>
  <p>Current Score is :</p>
  <button>Tap to Play</button>
  <p> can add script in the end to display the questions and asnwers - TBD</p>
  <p> A link to display 'How to play?' -  TBD</p>
  <a href="/logout">Click here to Logout</a>
</div>